

<div id="hot-deal" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown" id="timer">
                        <li>
                            <div>
                                <h3 id="timer-gunler"></h3>

                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="timer-saatler"></h3>

                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="timer-dakikalar"></h3>

                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="timer-saniyeler"></h3>

                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">Yakın zamanda burada !!</h2>
                    <p>
                        <h5>
                            Belirlenen Süre İçerisin de Ürünlerinizi burada satabilir
                            <br />
                            / Teklif verip alabilirsiniz !!
                        </h5>
                    </p>

                    <p style="color:#ebf500"><h1>Teklifin Nedir</h1></p>
                    <a class="primary-btn cta-btn" href="#">Haydi Teklif Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var endDate = new Date("June 01, 2020 00:00:00").getTime();
    var timer = setInterval(function () {

        let now = new Date().getTime();
        let t = endDate - now;

        if (t >= 0) {

            let gunler = Math.floor(t / (1000 * 60 * 60 * 24));
            let saatler = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let dakikalar = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            let saniyeler = Math.floor((t % (1000 * 60)) / 1000);

            document.getElementById("timer-gunler").innerHTML = gunler +
                "<span class='label'> gün</span>";

            document.getElementById("timer-saatler").innerHTML = ("0" + saatler).slice(-2) +
                "<span class='label'> sa</span>";

            document.getElementById("timer-dakikalar").innerHTML = ("0" + dakikalar).slice(-2) +
                "<span class='label'> dk</span>";

            document.getElementById("timer-saniyeler").innerHTML = ("0" + saniyeler).slice(-2) +
                "<span class='label'> sn</span>";
        }
        else {
            document.getElementById("timer").innerHTML = "Zaman bitti!";
        }


    }, 1000);
</script>
