<div class="au-chat-textfield">
    <form class="au-form-icon">
        <input class="au-input au-input--full au-input--h65" type="number" oninput="formKontrol()" id="Tutar" placeholder="Sadece tutar yazabilirsiniz !..." max="99999" required /> 
        <label id="errMsj" style="display:none;color:red">Maksimum 5 haneli rakam girebilirsiniz...</label>
        <input id="Kime" value="" class="hidden" type="text" />
        <input id="UrunId" value="" class="hidden" type="text" />
        <button class="au-input-icon" onclick="TeklifCvp()">
            <i class="zmdi zmdi-mail-send"></i>
        </button>
    </form>
</div>

