<style>
    div.panel-body {
        overflow: scroll;
        background: url('http://subtlepatterns.com/patterns/geometry2.png');
    }
</style>
<h2>ChatBox</h2>
<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        ChatBox using SingalR
        <i class="fa fa-paper-plane fa-fw"></i>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body" id="chat" style="height:250px;">
      
        <label type="hidden" id="displayname"> @Session["kime"] </label>
        <p id="discussion"></p>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group">
            <input id="message" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />

            <span class="input-group-btn">
                <input type="button" class="btn btn-warning btn-sm" id="sendmessage" value="Send">

            </span>
        </div>
    </div>
</div>
@section scripts {
  

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
   
    <script src="~/signalr/hubs"></script>
   
    <script>
        $(function () {
           
            var chat = $.connection.chatHub;
       
            chat.client.addNewMessageToPage = function (name, message) {
                if (name == "@Session["user"]") {
                  //session dan isim ??
                    $('#discussion').append('<p style="color:green; text-align:left; width:500px"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_7.png" title="@Session["user"]">'
                        + ' </strong> ' + htmlEncode(message) + '</p>');
                }
                else if (name != "@Session["Kime"]") {
                
                    $('#discussion').append('<p style="color:blue;text-align:right;"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_71.png" >'
                        + ' </strong> ' + htmlEncode(message) + '</p>');
                }
            };
           
            $('#displayname').val());
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}