<div class="au-chat-textfield">
        <form class="au-form-icon">
            <input class="au-input au-input--full au-input--h65" type="text" id="MesajIcerik" placeholder="Mesaj içeriği...">
            <label id="errMsj" style="display:none;color:red;font-weight:bold">Mesaj içeriği boş..</label>
            <input id="Kime" value="" class="hidden" type="text" />
            <input id="UrunId" value="" class="hidden" type="text" />
            <button class="au-input-icon" onclick="return Mesaj()">
                <i class="zmdi zmdi-mail-send"></i>
            </button>
        </form>
    </div>
