<form class="au-form-icon--sm" action="~/Ilan/Ilan" method="post">
    <input class="au-input--w300 au-input--style2" type="text" id="Ara" name="ilanNo" placeholder="İlan numarası giriniz..." min="1" required>
    <button class="au-btn--submit2" type="submit">
        <i class="zmdi zmdi-search"></i>
    </button>
</form>
