<section class="section__content section__content--p30">
    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-graphic-eq"></i>
                        </div>
                        <div class="text">
                            <h2>@Session["Urunler"]</h2>
                            <span>Ürünler</span>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-alert-circle"></i>
                        </div>
                        <div class="text">
                            <h2>@Session["mesajlar"]</h2>
                            <span>Mesaj</span>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-alert-circle-o"></i>
                        </div>
                        <div class="text">
                            <h2>@Session["teklifler"]</h2>
                            <span>Teklif</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-eye" style="width:50px;height:60px"></i>
                        </div>
                        <div class="text">
                            <h2>@Session["bakilma"]</h2>
                            <span>Görüntülenme</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
