
@{
    ViewBag.Title = "Sozlesme";
    Layout = "~/Views/Shared/_LayoutKul.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="logo-icon">
                <img src="~/Content/img/logo-zek.png" width="75" height="90" />
            </div>

            <h4>Gizlilik Politikası</h4>
            <div class="text-body">
                <br /> 1. Teklifinedir, kullanıcıların www.teklifiNedir.com sitesi üzerinden ilettikleri kişisel bilgilerini, Gizlilik Politikası ile belirlenen amaçlar ve kapsam dışında, üçüncü kişilere açıklamayacaktır. Kişisel bilgiler, ad soyadı, adresi, telefon numarası, e-posta adresi gibi kullanıcıyı tanımlamaya yönelik her türlü diğer bilgiyi içermekte olup kısaca Gizli Bilgiler olarak anılacaktır.
                <br />
                2. Teklifinedir, işbu Gizlilik Politikası ve Kullanıcı Sözleşmesi'nde tanımlı olan haller haricinde kişisel bilgileri herhangi bir şirket veya üçüncü kişilere açıklamayacaktır. Teklifinedir, kişisel bilgileri kendi bünyesinde müşteri profili belirlemek ve istatistiksel çalışmalar yapmak amacıyla kullanabilecek ve sadece bu çalışmaların yapılması amacıyla üçüncü kişiler ile paylaşabilecektir.
                <br />
                3. Teklifinedir, kişisel bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır saklama yükümlülüğü olarak addetmeyi, gizliliğin sağlanması ve sürdürülmesi, gizli bilginin tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tedbirleri almayı ve gerekli özeni göstermeyi taahhüt etmektedir. Teklifinedir 'in gerekli bilgi güvenliği önlemlerini almasına karşın, www.teklifinedir.com sitesine ve sisteme yapılan saldırılar sonucunda gizli bilgilerin zarar görmesi veya üçüncü kişilerin eline geçmesi durumunda, Teklifinedir ‘in herhangi bir sorumluluğu olmayacaktır. Teklifinedir, işbu Gizlilik Politikası hükümlerini, dilediği zaman www.teklifinedir.com sitesi içerisinde yayınlamak suretiyle tek taraflı olarak değiştirebilir. Teklifinedir ‘in değişiklik yaptığı Gizlilik Politikası hükümleri, www.teklifinedir.com sitesi içerisinde yayınlandığı tarihte yürürlülüğe girer.
            </div>
            <br />
            <br />
            <div class="text-body">
                <h4>TEKLIFINEDIR ÇEREZ POLİTİKALARI</h4>
                <br />Kişisel verilerin korunması hakkında bilgilendirme
                Bilgilerinin gizliliği ve güvenliği bizim için önemli; bu sebeple kişisel verilerinin korunması amacıyla 7 Nisan 2016 tarihinde yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVKK" ya da "Kanun") kapsamında şirketlerin uyması gereken usul ve esaslar ile hak ve özgürlüklerin hakkında sana bilgi vermek istiyoruz. Bu bilgilendirme, Kanun'un 10. Maddesi gereğince ve yasal zorunluluk nedeniyle yapılmaktadır.
                Bu politika,  <br />
                <br /> Gizlilik/Kişisel Verilerin Korunması Politikası'nın ve İletişim İzni'nin Amacı Bu Gizlilik/Kişisel Verilerin Korunması Politikası ve İletişim İzni;
                <br />• İçerik ve Yer Sağlayıcısı olduğumuz işbu internet sitesinin ("www.teklifinedir.com") ne tür kişisel veriler topladığını,
                <br />• Bu kişisel verilerin nasıl kullanıldığını,
                <br /> • İnternet Sitesi'nin kişisel verilerini kimlerle paylaşabileceğini,
                <br /> • İnternet Sitesi'nin işlediği kişisel verilerin üzerindeki haklarının neler olduğunu ve bu hakları nasıl kullanabileceğini,
                <br />• Çerez'ler (Cookie) hakkında bilgilendirmeyi ve bu çerezleri nasıl yönetebileceğinizi açıklamaktadır.
                <br /> • Teklifinedir.com'a üye olmak veya sadece ziyaretçi (üye olmayan ama Teklifinedir.com servislerinden sınırlı biçimde yararlananlar) olarak Teklifinedir.com'un hizmetlerini kullanmanın koşullarından biri olarak bazı bilgilerin Teklifinedir.com tarafından alınmakta, işlenmekte ve saklanmaktadır. Teklifinedir, gizliliğini aşağıda yer alan kurallar çerçevesinde korumaktadır.
                <br />
                <br />Çerez nedir?
                <br /> Çerez, ziyaret ettiğin web sitesi tarafından tarayıcınıza gönderilen küçük bir metin parçasıdır. Bu, web sitesinin ziyaretinle ilgili bilgileri (örneğin, tercih ettiğiniz dil ve diğer ayarlar) hatırlamasına yardımcı olur. Yani bir sonraki ziyaretinde kolaylık sağlayabilir ve siteyi daha kullanışlı hale getirebilir. Çerezler önemli bir role sahiptir. Onlar olmasaydı, Web kullanımı zorlaşırdı. Çerezleri pek çok amaçla kullanırız. Örneğin, sana daha alakalı ürünler göstermek, bir sayfaya kaç ziyaretçi geldiğini belirlemek, hizmetlerimize kaydolmana yardımcı olmak ve verilerini korumak için kullanırız.
                <br />  <br />
                <br />Ne tür veriler toplarız ve çerezleri ne için kullanıyoruz?
                <br />Çerezleri, sitelerimizin daha kolay kullanılması, senin ilgi ve ihtiyaçlarına göre ayarlanması ve kullanıcılarımıza akıllı ürün gösterimi için kişiselleştirme amacıyla kullanıyoruz. İnternet siteleri bu çerez dosyaları okuyup yazabiliyorlar ve bu sayede tanınmanız ve sana daha uygun bir internet sitesi sunulması amacıyla seninle ilgili önemli bilgilerin hatırlanması sağlanıyor (tercih ayarlarının hatırlanması gibi). Çerezler ayrıca, sitelerimiz üzerinde gelecekteki hareketlerinin hızlanmasına da yardımcı olur. Bunlara ek olarak, ziyaretçilerin sitelerimizi nasıl kullandığını anlamak ve sitelerimizin tasarımı ile kullanışlılığını geliştirmek amacıyla çerezleri sitelerimizin kullanımı hakkında istatistiksel bilgiler toplamak için de kullanabiliriz.
                <br />
                <br />
                <br /> Üçüncü partilere ait çerezler / Reklam Çerezleri
                <br /> Pazarlama ve kişiselleştirme çalışmalarımıza yardımcı olmak için Google tarafından Google Analytics markalı ve diğer çeşitli hizmetler de dahil olmak üzere pek çok ürün kullanmaktayız. Bu hizmetlerde diğer sitelerde ve uygulamalarda bu ürünlerden birini kullanan bir sayfayı ziyaret ettiğinde ya da bir reklamı gördüğünde, tarayıcına çeşitli çerezler gönderilebilir.
                <br /> Örneğin bunlar google.com veya googleadservices.com dahil olmak üzere birkaç farklı alan adından ayarlanmış olabilir. Reklamcılık ürünlerimizden bazıları, iş ortaklarımızın bizim hizmetlerimizle (reklam ölçümü, raporlama hizmeti vb.) birlikte, başka hizmetleri de kullanmasına olanak verir ve bu hizmetler tarayıcınıza kendi çerezlerini gönderebilir. Bu çerezler, onların alan adlarından ayarlanır.
                <br /> Öte yandan sitenin kullanış verimini artırmak, ilgi duyduğunuz alanlara ait size özel haber göstermek gibi çeşitli site iyileştirmeleri için de çerezler ve 3. partilerin çerezlerini kullanırız. İş ortaklarımızdan biri olan Google tarafından kullanılan çerez türleri ile bunların nasıl kullanıldığı konusunda daha fazla bilgi edinmek için buraya tıklayabilirsiniz: https://www.google.com.tr/intl/tr/policies/technologies/types/
                <br />
                <br />
                <br />Çerezler hakkında önemli bildirim
                <br />Hiçbir çerez ya da çerezlerin kullanılması yoluyla elde edilen hiçbir bilgi üçüncü taraflara satılmaz. Ayrıca, çerezleri kullanımımız, ziyaretçilerimizin kimliklerini öğrenmek ya da bu siteden elde edilen herhangi bir veriyi kişi kimliğini tanımlayıcı herhangi bir bilgi ile ilişkilendirmek amacı taşımamaktadır.
                <br />
                <br />
                <br />Çerezleri kontrol etmek veya silmek:
                <br />
                <br />Internet Explorer:
                <br />• Tarayıcında Araçlar menüsüne git ve İnternet Seçenekleri > Gizlilik > Gelişmiş ögesini seç. Otomatik Tanımlama Bilgisi İşlemeyi Geçersiz Kıl seçeneğine tıkla.
                <br /> • Internet Explorer'ın birinci taraf web sitelerinden ve üçüncü taraf web sitelerinden (şu anda görüntülemekte olduğunuz dışındaki bir web sitesi) gelen tanımlama bilgilerini nasıl işlemesini istediğini seç.
                <br />• Çerezlerin her zaman bilgisayarına kaydedilmesine izin vermek için Kabul Et seçeneğine tıkla.
                <br /> • Çerezlerin hiçbir zaman bilgisayarına kaydedilmesine izin vermemek için Engelle seçeneğine tıkla.
                <br /> • Bilgisayarında bir çerezin kaydedilmesine izin verip vermediğinin sorulması için Sor seçeneğine tıkla.
                <br /> • Her zaman oturum çerezlerinin (Internet Explorer'ı kapattığınızda bilgisayarınızdan silinecek çerezler) bilgisayarına kaydedilmesine izin vermek için Her Zaman Oturuma Özgü - Tanımlama Bilgilerine İzin Ver seçeneğine tıkla.
                <br />
                <br />
                <br /> Safari:
                <br /> • Safari -> Tercihler'i seç.
                <br /> • Güvenlik araç çubuğu düğmesine tıkla.
                <br /> • Safari, tercih ayarlarını gösterir.
                <br />• Bu radyo düğmesi seçenekleri ile çerezlerin nasıl kabul edileceğini seç:
                <br />• Asla: Çerezleri tamamen engeller.
                <br /> • Her zaman: Tüm çerezleri kabul eder.
                <br />• Sadece Gezinilen Sitelerden: Sitelerin yasa dışı çerez yağmuruna izin vermeden doğru bir şekilde çalışmasına izin verecek olan, varsayılan seçenek.
                <br />• Sisteminizde şu anda bulunan çerezleri görüntülemek için Tanımlama Bilgilerini Göster düğmesine tıkla.
                <br /> • O çerezi kullanan site, dosya içindeki her tür bilgiyi unutacaktır, bu da örneğin otomatik olarak bir tanımlama bilgisinden okunan bir parolayı siteye sağlamak gibi işleri manuel olarak halletmen gerekeceği anlamına gelir.
                <br />• Değişiklikleri kaydetmek için Kapat düğmesine tıkla.
                <br />
                <br />
                <br />Google Chrome:
                <br />• Tarayıcı araç çubuğundaki İngiliz anahtarı simgesine tıkla.
                <br />• Seçenekleri seç (Mac ve Linux'ta Tercihler, Chromebook'ta Ayarlar).
                <br />• Gelişmiş Ayarları Göster sekmesine tıkla.
                <br />• "Gizlilik" bölümünde İçerik Ayarları'na tıkla.
                <br />• Ekrana gelen İçerik Ayarları'ndaki Çerezler sekmesine tıkla:
                <br />• Çerezleri sil
                <br />• Çerezler ve Site Verileri iletişim kutusunu açmak için "Tüm çerezler ve site verileri"ne tıkla.
                <br />• Tüm çerezleri silmek için iletişim kutusunun en altındaki Tümünü kaldır seçeneğine tıkla.
                <br />• Belirli bir çerezi silmek için çerezi yayınlayan siteyi, daha sonra çerezi seçip Kaldır'a tıkla.
                <br />• Varsayılan olarak çerezleri engelle
                <br />• Tüm çerezleri engelle: "Sitelerin veri ayarlamasını engelle" seçeneğini seç. Bu ayarı seçmenin, çalışmak için oturum açmayı gerektiren birçok siteyi engelleyeceğini unutma.
                <br />• Her çerez engellendiğinde adres çubuğunda bir simge göreceksin.
                <br />• Sadece üçüncü taraf çerezlerini engelle: "Üçüncü taraf çerezlerini ve site verilerini engelle" işaret kutusunu seç. İstisnalar listesine bir site eklemiş olsan ve onun çerezlerine izin vermiş olsan dahi sitenin üçüncü taraf çerezleri bu kutu işaretliyken kabul edilmeyecektir.
                <br />• Varsayılan olarak çerezlere izin ver
                <br />• Hem birinci taraf hem üçüncü taraf çerezlerine izin vermek için "Yerel verilerin ayarlanmasına izin ver" seçeneğinin seçili olduğundan emin ol. Sadece birinci taraf çerezlerini kabul etmek istiyorsan, "Üçüncü taraf çerezlerini ve site verilerini engelle" işaret kutusunu seç.
                <br />• Belirli web sitelerinden veya ana makinelerden gelen çerezler için istisna yarat
                <br />• Belirli birkaç site veya ana makine için çerezlerin nasıl ele alınacağını kontrol etmek için İstisnaları yönet başlığına tıkla. Ekrana gelen Çerez ve Site Verileri İstisnaları iletişim kutusuna bir kural eklemek için aşağıdaki adımları takip et:
                <br />• "Yeni bir istisna kalıbı ekle" alanına tıkla ve istisna yaratmak istediğin ana makine adını girin.
                <br />• Tüm ana makinelere istisnalar yaratmak için ana makine adı öncesine *. gir (örn. *.google.com).
                <br />• Aynı zamanda bir IP adresi, IPv6 adresi veya http olmayan bir URL belirtebilirsin.
                <br />• Sitenin çerez ayarlayıp ayarlayamayacağını belirlemek için menüyü kullan. Sadece Oturum'u seçersen çerezler, tarayıcıyı her kapattığında silinecektir.
                <br />
                <br />
                <br />Çerezler hakkında daha fazla bilgi ve çerezlerin tarayıcınıza yüklenmesini engellemeye ilişkin ayrıntılı talimatlar için lütfen şuraya bakınız: www.allaboutcookies.org
                <br />Çerezler ve kişisel bilgileriniz ile ilgili daha fazla bilgi almak, kişisel verilerinizin tarafımızca silinmesini talep etmek için bize her zaman yardim@teklifinedir.com adresinden ulaşabilirsiniz.
            </div>
            <br />
            <div class="text-body">
                <h4>Kişisel Verilere İlişkin Aydınlatma ve Bilgilendirme Metni </h4>
                <br /> İşbu Kişisel Veriler Bilgilendirme ve Aydınlatma Metni ile yürürlükteki yasal mevzuata uygun olarak, 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) ve Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ (“Tebliğ”) kapsamında “Veri Sorumlusu” sıfatıyla www.teklifinedir.com alan adlı internet sitesinin kullanılması ile bağlantılı olarak ve ilgili hizmetlerin sunulabilmesi amacı ile tarafınızca tarafımıza sağlanan verilerin toplanması, işlenmesi ve kullanım türü, derecesi ve amacı ile ilgili olarak siz kullanıcılarımıza bilgilendirme yapılması amaçlanmaktadır.
                <br />
                <br /> Kişisel verilerinizin, gizli bilgilerinizin korunmasını ve gizli tutulmasını ciddiye almaktayız. Kanun, Tebliğ ve ilgili mevzuat hükümleri uyarınca tarafımızca, çalışanlarımızca ve servis sağlayıcılarımızca görevlerini ifa ederken verilerinizin gizliliğine mutlaka dikkat edilmesini ve yalnızca sizlere bildirdiğimiz amaçlarla kullanılmasını sağlamak üzere gerekli teknik ve idari önlemleri almaktayız.
                <br />Kişisel verilerin işlenmesi; kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hale getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi kişilere ait veriler üzerinde gerçekleştirilen her türlü işlemi ifade etmektedir.
                <br />
                <br /> İnternet sitesinde sizinle iletişime geçilmesi kapsamında tarafımıza sağladığınız bilgileriniz, buna ek olarak internet sitemizde gezinmeniz sırasında çerezler ve benzeri yöntemler aracılığı ile tarafımızca elde edinilen bilgiler; bizim tarafımızdan, mevcut ve ilerideki iştiraklerimiz, bağlı şirketlerimiz, hissedarlarımız, iş ortaklarımız, haleflerimiz, hizmet ve faaliyetlerimiz ile yan hizmetlerimizi yürütmek üzere hizmet aldığımız, işbirliği yaptığımız, yurt içinde ve/veya yurtdışında faaliyet gösteren program ortağı kuruluşlar ve diğer üçüncü kişiler (hukuk ve vergi danışmanlarımız, bankalar, bağımsız denetçiler dahil ve fakat bunlarla sınırlı olmamak üzere, sizlere hizmet sunabilmemiz için işbirliği yaptığımız veya yapabileceğimiz hizmet tedarikçilerimiz) tarafından muhtelif mal ve hizmetlerin sağlanması, sağlanan mal ve hizmetlerin herhangi bir ücrete tabi olması halinde ödeme alınması için gerekli işlemlerin gerçekleştirilmesi, sunulan hizmetlere ilişkin sizlere yapacağımız her türlü bilgilendirme, özel kampanyalardan faydalanabilmenize ve sürpriz çekilişlere katılabilmenize imkan sağlama, sorularınıza yanıt verebilme, aramızdaki sözleşmesel ilişki ve hizmet ilişkisi kapsamındaki bilgilendirme amaçlı yapılacak elektronik iletişimler,teklifinedir.com ile aranızda sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili ve gerekli olması, teklifinedir.com ’un yasal sorumluluğunu yerine getirebilmesi için zorunlu olması, kişisel veriye bağlı ilgili hakkın ileri sürülebilmesi veya savunmanın tesis edilmesi amaçlarıyla, belirtilenler ve halefleri nezdinde kullanılma amacı ile sınırlı olarak ve bu amaç ile orantılı süre ile kayda alınabilecek, basılı/manyetik arşivlerde saklanabilecek, gerekli görülen hallerde güncellenebilecek, paylaşılabilecek, aktarılabilecek, transfer edilebilecek, kullanılabilecek ve teklifinedir.com ’a sağladığınız açık rızanız dahilinde işlenebilecektir. Paylaşılan bu bilgiler tarafınızca her zaman değiştirilebilir ve güncellenebilir. Kanun dahil ilgili mevzuat hükümleri dahilinde zorunlu olması durumunda ya da tarafımıza iletmiş olduğunuz verilerin işbu metinde belirtilen amaçlardan başka amaçlar ile kullanılması gerekirse bazı uygulamalar ve işlemler için ayrıca ilave izniniz de gerekebilecektir. Bu gibi durumlarda sizlerle iletişime geçilecek ve sizlerin açık rızaları rica edilecektir. Bu verilere ek olarak bizlere iletmiş olduğunuz kişisel verileriniz hukukun gerekli kıldığı durumlarda resmi kurum/kuruluşlar, mahkemeler tarafından talep edilmesi halinde ilgili merci ve mahkemelere iletilebilecektir.
                <br />
                <br />Paylaştığınız tüm bilgiler, her ne sebeple olursa olsun doğrudan veya dolaylı olarak üçüncü bir kişinin yararına kullanılmayacak; kullanıcının açık yazılı izni olmaksızın işbu metinde belirtilen amaçlar dışında herhangi bir üçüncü şahısla, firmayla veya kurumla paylaşılmayacak, kısmen veya tamamen kopyalanmayacak ve yayınlanmayacaktır. Bununla birlikte, bilgileriniz anonim hale getirilerek, kullanıcı eğilimlerini ve modellerini anlamak, iş ilişkilerimizi yönetmek ve geliştirmek için iş ortaklarımız ve sponsorlarımız da dahil olmak üzere üçüncü kişilerle paylaşılabilir.
                <br />
                <br />İnternet sitesi üzerinde yaptığınız hareketler, çerezler ve benzeri yöntemlerle izlenebilecek, kaydı tutulabilecek, istatistiki veya yukarıda bahsedilen amaçlarla kullanılabilecektir.
                <br />
                <br />Ebeveyninin veya velisinin izni olmadan 18 (on sekiz) yaşından küçük kişilerin kişisel verilerini göndermemeleri gerekmektedir. 18 yaşın altında olmanız ancak ayırt etme gücünü haiz olmanız kaydıyla, internet sitemizi sadece bir ebeveyniniz veya yasal temsilcisiniz eşliğinde kullanabilirsiniz, kendinize ait kişisel verileri doğrudan kendiniz sağlayamazsınız.
                <br />
                <br />Teklifinedir’ e ait internet sitelerinin, durumun niteliğine göre diğer internet sitelerine bağlantılar içermesi halinde bu sitelerin operatörlerinin veri koruma hükümlerine uygun olup olmamaları hususunda hiçbir taahhütte bulunmamaktayız. Teklifinedir, link veya benzeri başka yöntemlerle bağlantı verdiği sitelerin içeriklerinden hiçbir zaman sorumlu değildir.
                <br />
                <br />Kanun’un 11. maddesi uyarınca;
                <br />• (a) kişisel verinizin işlenip işlenilmediğini öğrenme;
                <br />• (b) kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme;
                <br />• (c) kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme;
                <br />• (d) yurt içinde veya yurt dışında kişisel verileriniz aktarıldığı üçüncü kişileri bilme;
                <br />• (e) kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme;
                <br />• (f) kişisel verilerinizin işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerinizin silinmesini veya yok edilmesini isteme;
                <br />• (g) Kanun’un 7. maddesi uyarınca yukarıda bahsedilen düzeltme, silme veya yok etme işlemlerinin, kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme;
                <br />• (h) işlenen verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme; ve
                <br />• (i) kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararınızın giderilmesini talep etme haklarına sahipsiniz.
                <br /> Kişisel veri sahipleri olarak, az önce saymış olduğumuz haklarınıza ilişkin taleplerinizi, işbu metinde belirtilen yöntemlerle Teklifinedir ’e iletmeniz durumunda Teklifinedir talebin niteliğine göre söz konusu talebi en kısa sürede ve en geç 30 (otuz) gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulunca belirlenen tarifedeki ücret alınabilir.
                <br />
                <br />Kanun, Tebliğ ve sair mevzuata uygun olarak işleme faaliyeti gerçekleştirilmesine rağmen işbu metinde belirtilen işleme amaçlarının sona ermesi halinde kişisel verileriniz ilgili mevzuata uygun olarak resen veya talebiniz üzerine silinecek, yok edilecek ya da anonim hale getirilecektir.
                <br />Kanun’un 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, yazılı olarak veya Kişisel Verileri Koruma Kurulu’nun belirlediği diğer yöntemlerle Teklifinedir ‘e iletebilirsiniz.
                <br />
                <br />Kanun’un 11. maddesinde sayılan ve işbu metin ile sizlere bildirilen haklarınızı kullanmak için kimliğinizi tespit edebileceğimiz gerekli bilgiler ile belirtilen haklarınızdan hangisini kullanmayı talep ettiğinize yönelik açıklama/açıklamalarınızı içeren talebinizi; yardim@teklifinedir.com iletişime geçerek verilen adrese kimliğinizi tespit edici belgeler ile bizzat elden iletebilir, noter kanalıyla veya Kanun’da belirtilen diğer yöntemler ile gönderebilir veya ilgili formu yardim@teklifinedir.com e-posta adresimize güvenli elektronik imzalı olarak iletebilirsiniz. Teklifinedir, başvurunuz üzerine talebinizi kabul eder veya gerekçesini açıklayarak reddeder ve cevabını ilgili kişiye yazılı olarak veya elektronik ortamda bildirir. Başvuruda yer alan talebin kabul edilmesi halinde Teklifinedir tarafından gereği yerine getirilir. Başvurunuzun Teklifinedir ’in hatasından kaynaklanması ve sizden bir ücret tahsil edilmesi halinde alınan ücret size iade edilecektir.
                <br />
                <br />Çerezler (Cookie)
                <br /> İnternet sitemizde; IP adresi, kullanılan tarayıcı, bilgisayarınızdaki işletim sistemi, internet bağlantınız, site kullanımları hakkındaki bilgiler gibi belirli verileri otomatik olarak elde etmemize yardımcı olan çerezler (cookie) bulunmaktadır. Söz konusu çerezler bir internet sayfası sunucusu tarafından sabit sürücünüze iletilen küçük metin dosyalarıdır ve sitemizde bulunan çerezler, bilgisayarınız için zararlı sayılabilecek virüsler göndermek için kullanılmamaktadır.
                <br />Çerezler genellikle bilgisayarınızda saklanarak, her kullanımda sizi tanımak ve kullanımınızı kolaylaştırmak için sağlanmaktadır. İnternet sitemizi kullanarak kullanılan çerezleri onaylamış olursunuz. Teklifinedir, söz konusu çerezler aracılığı ile verilerinizi işleyebilir ve elde edilen bilgileri analiz etme amacı ile bu kapsamda yurtiçinde ve yurtdışında üçüncü kişilere aktarabilir.
                <br />Çerezler tarafından verileriniz toplanmadan internet sitemizi görüntülemek istiyorsanız seçiminizi cihazınızın/tarayıcınızın ayarlarından her zaman değiştirebilirsiniz. Çerezlerin kullanımını durdurduğunuzda internet sitemizde her türlü işlemi yapamayacağınızı, belirli özelliklerinin çalışmayabileceğini lütfen unutmayınız.
            </div>
        </div>
    </div>
</div>

