
@{
    ViewBag.Title = "Hesap Dogrulama";
   Layout = "~/Views/Shared/_LayoutKul.cshtml";
}



    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/Content/img/logo-zek.png" alt="teklifinedir" height="120px" width="60px">
                            </a>
                        </div>
                        <div class="social-login-content">
                            <h4>Hesabı Doğrula</h4>

                            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                            {
                                <div class="alert alert-success">
                                    <strong>Başarılı! </strong> Hesabınız başarıyla etkinleştirildi.Buraya tıklayın  @Html.ActionLink("Giriş", "Login", "User")
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <strong>Hata!</strong> @ViewBag.Message
                                </div>
                            }
                        </div>
                        </div>
</div>
</div>
</div>
</div>
